*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

form {
	display: grid;
	gap: 0.5em;
	grid-template-columns: 1fr 3fr;
	font-size: 1.2rem;
}

form > button {
	grid-column: 1 / 3;
	font: inherit;
}

form > input {
	font: inherit;
}
